<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Authors</title>
</head>

<body>
  <%- include('partials/navigation') %>

    <h1>List of Authors</h1>

    <% if (authors.length===0) { %>
      <p>No authors have been found.</p>
      <% } else { %>
        <ul>
          <% authors.forEach(function(author) { %>
            <li>
              <%= author.name %>
            </li>
            <% }) %>
        </ul>
        <% } %>
</body>

</html>